<h2>Edit foodcatalog</h2>

<%= @foodcatalog.id %>
<%= render "form.html", changeset: @changeset, foodcatalog: @foodcatalog,
                        action: pantryitem_path(@conn, :create, foodcatalog: @foodcatalog) %>>

<%= link "Back", to: foodcatalog_path(@conn, :index) %>
