<h2>Edit foodcatalog</h2>

<%= render "form.html", changeset: @changeset,
                        action: pantryitem_path(@conn, :create, @foodcatalog) %>

<%= link "Back", to: foodcatalog_path(@conn, :index) %>
