<table class="table">
    <thread>
	<tr>
	    <th>image</th>
	    <th>title</th>
	</tr>
    </thread>
    <tbody>
	<%= for product <- @products do %>
	    <tr>
		<td><img src="<%= product["image"] %>", title="<%= product["id"] %>"></td>
		<td><%= link product["title"],
		    to: search_path(@conn, :grocery_show, product["id"]),
		    class: "btn"%></td>
	    </tr>
	<% end %>
    </tbody>
</table>

<%= render GroceryGnome.SharedView, "navbar.html", conn: @conn %>
