
<h2>New recipe</h2>

<%= render "form.html", changeset: @changeset, foodcatalogs: @foodcatalogs, ingmap: @ingmap, action: recipe_path(@conn, :create) %>

<%= link "Back", to: recipe_path(@conn, :index) %>

