<h2>Plan for <%= @date %></h2>

<%= form_for @conn, schedule_path(@conn, :create, date: @date), [as: :form_data], fn f -> %>
    <%= for {title, sym} <- [{"Breakfast", :breakfast}, {"Lunch", :lunch}, {"Dinner", :dinner}] do %>
	<div class="panel-group">
	    <div class="panel panel-default">
		<div class="panel-body">
		    <%= title %>

		    <%= select f, sym, @recipes, class: "form-control" %>

		</div>
	    </div>
	</div>
    <% end %>
    <%= submit "Submit" %>
<% end %>
