
<h2>New Grocery Entry</h2>

<%= render "form.html", changeset: @changeset,
                        action: groceryitem_path(@conn, :create,  foodcatalog: @foodcatalog) %>

<%= link "Back", to: groceryitem_path(@conn, :index), class: "btn btn-info btn-lg" %>

<%= render GroceryGnome.SharedView, "navbar.html", conn: @conn %>
