html {
	height: 100%;
}

#pTable {

}

container {
	
}


tbody {

}

body { 
	padding-top: 70px; 
	min-height: 100%;
	background-image: url("forest.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

td {
	font-family: "Arial Narrow", sans-serif;
	background-color: #b0ff77;
}

h2 {
	margin: 0;
	height: 50px;
	padding-left: 10px;
	font-size: 40px;
	padding-top: 4px;
	font-family: "Goudy Old Style", serif;
	color: white;
	background-color: black;
	border-style: groove;
	border-color: LimeGreen;
 	text-shadow: 0    0   2px #fefcc9,
              	     1px -1px 3px #00ff00,
                    -2px -2px 4px #00cc00,
                     2px -4px 5px #009900,
                    -2px -6px 6px #006600,
                     0   -8px 7px #003300,
                     1px -9px 8px #000000;
	box-shadow: 10px 10px 5px #003300;
}

thead {
	font family: "Verdana", sans-serif;
	font-size: 20px;
	background-color: LimeGreen;
}

.table-responsive {
	background-color: #27e662;
	box-shadow: 10px 10px 5px #003300;
	border-style: groove;
	border-color: LimeGreen;
	overflow-y: auto;
	height: 50vh;

}
