html {
    overflow-x: auto; 
    overflow-y: auto;
    height: 100%;
​
}
​
body {
	background-image: url(green.jpg);
	
	height: 100%;
}
​
#welcomeImage {
	position: relative;
	height: 100%;
	background-image: url(welcome.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	border-right-style: solid;
	border-right-size: 2px;
	border-right-color: white;
	z-index: 9999;
}
​
​
label {
	color: black;
}
​
​
form {
	padding-top: 0px;
	padding-right: 125px;
	padding-left: 125px;
	
}
​
input {
	height: 25px;
}
​
pwd {
	height: 50px;
}
​
​
​
bothForms {
	text-align: center;
	align: center;
	overflow-x: auto;
	display: inline-block;
	
}
​
​
​
​
h1 {
	position: absolute;
	top: 0px;
	right: 20px;
	font-size: 70px;
	font-family: "Goudy Old Style", serif;
	color: white;
 	text-shadow: 0    0   2px #fefcc9,
              	     1px -1px 3px #00ff00,
                    -2px -2px 4px #00cc00,
                     2px -4px 5px #009900,
                    -2px -6px 6px #006600,
                     0   -8px 7px #003300,
                     1px -9px 8px #000000;
​
​
}
​
h2 {
	padding-left: 120px;
	font-size: 26px;
	font-family: "Verdana", sans-serif;
	color: black;
​
}
​
h3 {
	padding-left: 130px;
	font-size: 26px;
	font-family: "Verdana", sans-serif;
	color: black;
	left: 105px;
​
}
​
​
​
input[type="submit] {
	color: green;
	border-radius: 20%;
	border: 2px solid black;
}
​
loginButton:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);	
}