<!DOCTYPE html>
<html lang="en">
<head>
  <title>GroceryGnome</title>
  <meta http-equiv="X-UA-Compatible" content="IE=11">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="homepage.css">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	<span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">GroceryGnome</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <li><a href="<%= list_path(@conn, :index) %>"><span class="glyphicon glyphicon-shopping-cart"></span> Grocery</a></li>
      <li><a href="<%= pantry_path(@conn, :index) %>"><span class="glyphicon glyphicon-apple"></span> Pantry</a></li>
      <li><a href="/kitchen"><span class="glyphicon glyphicon-cutlery"></span> Kitchen</a></li>
    </ul>
     <ul class="nav navbar-nav navbar-right">
       <li><a href="/u"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
       <li><a href="/u"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
       <li><a href="/u"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
    </ul>
  </div>
  </div>
</nav>


<!-- 3 equal columns -->

<div class="row">

  <div class="col-sm-4" id="gColumn">
    <div id="gContent">
      <h1>Grocery</h1>
      <img src="images/grocery-bag.jpg" class="img-responsive img-rounded" alt="grocerybag">
      <p>Use the Grocery section to take advantage of all of our grocery shopping conveniences.
	  Keep track of your own grocery list by adding, removing, and modifying grocery items.
	  If you don't know where to start, you can always shop by recipes, which are located in
	  the Kitchen section.  Your Meal Scheduler will also make suggestions for you.
      </p>
      <button type="button" class="btn btn-md" action="<%= list_path(@conn, :index) %>" method="POST">Go!     <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
    </div>
  </div>

  <div class="col-sm-4" id="pColumn">
    <div id="pContent">
      <h1>Pantry</h1>
      <img src="images/pantry.jpg" class="img-responsive img-rounded" alt="pantry">
      <p>The Pantry allows you to keep track of all your food supply.  Like the Grocery List,
	  the Pantry allows you to add, modify, and delete food items. Worried you'll run out of
	  something? Don't be!  The Pantry will inform you of low stock food items, as well as
	  nearly expired foods, at your request.
      </p>
     <button type="button" class="btn btn-md" action="<%= pantry_path(@conn, :index) %>" method="POST">Go!     <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
    </div>
  </div>

  <div class="col-sm-4" id="kColumn">
    <div id="kContent">
      <h1>Kitchen</h1>
      <img src="images/kitchen.jpg" class="img-responsive img-rounded" alt="Kitchen pic">
      <p>The Kitchen is a robust application that will primarily allow you to schedule your own meals
	  and create your own recipes or find public recipes.  In addition, you can add leftovers
	  into the Pantry.
      </p>
      <button type="button" class="btn btn-md">Go!     <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
    </div>
  </div>

</div>



</body>
</html>
