<%= text_input :user, :name, value: "default" %>
<br>
<%= date_select :date, :wow %>
<br>
<%= datetime_select :datetime, :wow %>
<br>
<%= email_input :email, :stuff %>
<br>
<%= color_input :color, :more %>
<br>
<%= time_select :time, :and %>


<%= for {key,value} <- @mapitems do %>
    </br>
    <%= key %>
    </br>
    value =
    <%= value %>
    
<%= end %>
