<!DOCTYPE html>
<html lang="en">
<head>
    <title>GroceryGnome</title>
    <meta http-equiv="X-UA-Compatible" content="IE=11">
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="welcome.css">
</head>
  <body>
    <span style="width: 100%;">
      <div id="welcomeImage" style="width:70%;float:left;">
        <img src ="welcome.jpg" style="height:100%;">
	<h1>GroceryGnome</h1>
      </div>
      <div id="bothForms" style="width: 30%;float: right;">
        <div id="login">
	  <h2>Login</h2>
          <form action="/home" method="POST">
            <label>Email:</label> <input type="email" name="email" required>
            <label>Password:</label> <input type="password" name="password" pattern="[A-Za-z0-9]*" required>
            <input type="submit" value="Login" id="loginButton">
          </form>
        </div>
        <div id="signUp">
	  <h3>Sign Up</h3>
          <form>
            <label>First Name:</label> <input type="text" name="firstName" pattern="[A-Za-z0-9]*" required>
            <label>Last Name:</label> <input type="text" name="lastName" pattern="[A-Za-z0-9]*" required>
            <br>
            <label>Email:</label> <input type="email" name="email" required>
            <br>
            <label>Password:</label> <input type="password" name="password" pattern="[A-Za-z0-9]*" required>
            <label>Confirm Password:</label> <input type="password" name="confirmPassword" pattern="[A-Za-z0-9]*" required>
            <br>
            <label>Household Size:</label> <input type="number" name="householdSize" min="1" required>
            <br>
            <input type="submit" value="Sign Up" id="signUpButton" style="align:center;">
          </form>
        </div>
      </div>
    </span>
  </body>
</html>
